body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    padding: 50px;
}

.alarm-number {
    color: #F00;
}

button {
    font-size: 2em;
    padding: 10px 20px;
    margin-top: 10px;
    width: 100%;
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

/* Media Query para teléfonos en formato vertical */
@media (max-width: 600px) {
    .container {
        max-width: 90%;
    }
}
